.containerPrincipal{
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerPrincipal h1{
    padding: 10px;
    color: rgb(90 90 90);
    font-size: 40px;
    margin-bottom: 20px;
}
.containerProjects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.project{
    padding: 10px;
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: column;
    width: 550px;
    color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.project h2{
    width: 100%;
    background-color: white;
    color: rgb(60, 60, 60);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    display: flex;
    width: 100%;
    padding: 15px;
    gap: 10px;
}
.info p {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:justify;
}
.containerButton{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.containerButton a{
    width: 100%;
    color: rgb(60, 60, 60);
    text-decoration: none;
}
.containerButton button{
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
.containerButtonFinance{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.containerButtonFinance a{
    width: 100%;
    color: rgb(60, 60, 60);
    text-decoration: none;
}
.containerButtonFinance button{
    width: 100%;
    padding: 10px;
    cursor: pointer;
}


@media (max-width: 800px) {
    .containerProjects{
        width: 100%;
    }
    .project{
        width: 100%;
    }
    .info{
        display: flex;
        flex-direction: column;
    }
    .containerButton{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}