.containerPrincipal{
    width: 800px;
    background-color: gray;
    height: 60px;
    margin-top: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.containerItem{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
.containerItem p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
}
.containerItem p:hover {
    background-color: aliceblue;
    color: gray;
    cursor: pointer;
    transition: 0.3s ease;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: gray;
    border-radius: 100%;
    padding: 10px;
}
.image img{
    border-radius: 100%;
    width: 60px;
    height: 60px;
}