.containerPrincipal{
    width: 800px;
    background-color:rgb(60, 60, 60);
    height: 60px;
    margin-top: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.containerItem{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
.containerItem p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}
.containerItem p:hover {
    background-color: aliceblue;
    color: rgb(60, 60, 60);
    cursor: pointer;
    transition: 0.3s ease;
    
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: rgb(60, 60, 60);
    border-radius: 100%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.image img{
    border-radius: 100%;
    width: 70px;
    height: 70px;
}
.responsiveMenu{
    display: none;
}
.backdrop{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    background-color: rgba(50, 50, 50, 0.69);
}
.menu{
    z-index: 3;
    background-color: rgb(60, 60, 60);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
}
.menu p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
.menu button{
    padding: 10px;
    border: none;
    background-color: white;
    color: rgb(60, 60, 60);
    cursor: pointer;
    width: 100%;
}
.menu button:hover{
    transform: scale(1.02);
    transition: 0.3s ease;
}
.menu p:hover{
    background-color: rgb(85, 84, 84);
}

@media (max-width: 800px) {
    .containerPrincipal{
        display: flex;
        width: 0;
    }
    .containerItem{
        display: none;
    }
    .image{
        padding: 50px;
    }
    .responsiveMenu{
        position: absolute;
        width: 100%;
        justify-content: end;
        display: flex;
        padding: 30px;
    }
    .responsiveMenu span{
        background-color: rgb(60, 60, 60);
        padding: 10px;
        color: white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .responsiveMenu span{
        cursor: pointer;
    }
    
}